* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'League Spartan', sans-serif;
}

body {
    /* width: 100%; */
    background-color: #F1F6F5;
}

/* logo */
.logo {
    width: 80px;
    height: auto;
}


/* header */
#header {
    z-index: 331;
    position: sticky;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 80px;
    background-color: #000000;
    box-shadow: 0 5px 15px rgba(223, 223, 223, 0.06);
}

#navbar {
    display: flex;
    align-items: center;
    justify-content: center;
}

#hamburger {
    display: none;
}

#navbar li {
    list-style: none;
    padding: 15px 20px 0px 20px;
    position: relative;
}

#navbar li a:hover {
    color: #369636;
    transition: 0.3s ease;

}

#navbar li a.active {
    color: #369636;
}

#navbar li a.active::after,
#navbar li a:hover::after {
    content: "";
    width: 30%;
    height: 2px;
    background-color: #369636;
    position: absolute;
    left: 20px;
    bottom: -4px;
}

#close {
    display: none;
}

#sign-in-mob {
    display: none;
}

#sign-in a,
#navbar a {
    font-weight: 500;
    font-size: 22px;
    text-decoration: none;
    color: rgb(243, 246, 249);
}

#sign-in a:hover {
    color: #369636;
}

#sign-in a,
#sign-in button {
    padding: 6px 18px;
}

#sign-in button {
    font-size: 18px;
}

#sign-in button:hover {
    background-color: #41b941;
    border-color: transparent;
}


/* sign in and sign up pages */
/* popup */
.popup {
    z-index: 444;
    position: absolute;
    top: -320%;
    left: -50%;
    opacity: 0;
    transform: translate(-50%, -50%) scale(1.25);
    width: 380px;
    padding: 20px 30px;
    box-shadow: 2px 2px 5px 5px rgba(93, 93, 93, 0.2);
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
    transition: top 0ms ease-in-out 200ms,
        opacity 200ms ease-in-out 0ms,
        transform 20ms ease-in-out 0ms;
}

.popup.active {
    top: 250%;
    left: 0%;
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
    transition: top 0ms ease-in-out 0ms,
        opacity 200ms ease-in-out 0ms,
        transform 20ms ease-in-out 0ms;

}

.popup .close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 15px;
    height: 15px;
    background: rgb(25, 25, 25);
    color: #eee;
    border-radius: 15px;
    text-align: center;
    line-height: 16px;
    cursor: pointer;
}

.popup .loginform h2 {
    text-align: center;
    color: #222;
    margin: 10px 0px 20px;
    font-size: 25px;
}

.popup .loginform .form-element {
    margin: 15px 0px;
}

.popup .loginform .form-element label {
    font-size: 14px;
    color: #222;
}

.popup .loginform .form-element button {
    width: 100%;
}

.popup .loginform .form-element input[type="text"],
.popup .loginform .form-element input[type="password"] {
    margin-top: 5px;
    display: block;
    width: 100%;
    padding: 10px;
    outline: none;
    border: 1px solid #aaa;
    border-radius: 5px;
}

.popup .loginform .form-element input[type="checkbox"] {
    margin-right: 5px;
}

.popup .loginform .form-element a {
    display: block;
    text-align: right;
    font-size: 15px;
    color: rgb(237, 164, 55);
    text-decoration: none;
    font-weight: 550;
}

/* popup2 */
.popup-2 {
    z-index: 444;
    position: absolute;
    top: -320%;
    left: -50%;
    opacity: 0;
    transform: translate(-50%, -50%) scale(1.25);
    width: 380px;
    padding: 20px 50px;
    box-shadow: 2px 2px 5px 5px rgba(93, 93, 93, 0.2);
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
    transition: top 0ms ease-in-out 200ms,
        opacity 200ms ease-in-out 0ms,
        transform 20ms ease-in-out 0ms;
}

.popup-2.active {
    top: 300%;
    left:50%;
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
    transition: top 0ms ease-in-out 0ms,
        opacity 200ms ease-in-out 0ms,
        transform 20ms ease-in-out 0ms;

}

.popup-2 .close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 15px;
    height: 15px;
    background: rgb(25, 25, 25);
    color: #eee;
    border-radius: 15px;
    text-align: center;
    line-height: 16px;
    cursor: pointer;
}

.popup-2 .loginform h2 {
    text-align: center;
    color: #222;
    margin: 10px 0px 20px;
    font-size: 25px;
}

.popup-2 .loginform .form-element {
    margin: 15px 0px;
}

.popup-2 .loginform .form-element label {
    font-size: 14px;
    color: #222;
}

.popup-2 .loginform .form-element button {
    width: 100%;
}

.popup-2 .loginform .form-element input[type="text"],
.popup-2 .loginform .form-element input[type="password"] {
    margin-top: 5px;
    display: block;
    width: 100%;
    padding: 10px;
    outline: none;
    border: 1px solid #aaa;
    border-radius: 5px;
}

.popup-2 .loginform .form-element input[type="checkbox"] {
    margin-right: 5px;
}

.popup-2 .loginform .form-element a {
    display: block;
    text-align: center;
    font-size: 15px;
    color: rgb(237, 164, 55);
    text-decoration: none;
    font-weight: 550;
}

/* magic section */
#magic {
    background-image: url(images/background.png);
    height: 90vh;
    width: 100%;
    background-size: cover;
    background-position: top 40% right 0;
    padding: 0 50% 0 80px;
    color: rgb(243, 246, 249);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

#magic h2 {
    font-weight: 600;
}

#magic p {
    color: #369636;
}

#magic button {
    width: 30%;
    color: rgb(243, 246, 249);
    border-color: rgb(195, 196, 196);
}


/* features section */

#features {
    text-align: center;
}

#features h1 {
    font-weight: 600;
    color: #3c3c3c;
}

.featured-products {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

#features .feature-box {
    margin: 35px 0px;
    position: relative;
    width: 280px;
    height: 300px;
    box-shadow: 20px 20px 34px rgb(0, 0, 0, 0.06);
    background-color: #E8F0EF;
    border: #000000 1px;
    border-radius: 15px;
}

#features .feature-box:hover {
    box-shadow: 10px 10px 54px rgb(0, 0, 0, 0.1);
}

.feature-box a {
    z-index: 44;
    position: absolute;
    top: 4%;
    right: 12%;
    align-items: center;
    color: #2a6f2a;
    text-decoration: none;

}

.feature-box i {
    position: absolute;
    top: 4px;
    padding-left: 15%;
}


.feature-box img {
    position: relative;
    left: 0px;
}

.feature-box .img1 {
    top: -60px;
    left: -100px;
}

.feature-box .img3 {
    top: -30px;
}

.feature-box .img4 {
    top: -70px;
    left: -20px;
}


/* section p1 classes */
.section-p1 {
    padding: 40px 130px;
}


/* products section */
#products {
    text-align: center;
}

#products .pro {
    position: relative;
    width: 23%;
    min-width: 250px;
    padding: 15px 12px 0 12px;
    border: 1px solid #bcc0bd;
    background-color: #fefefe;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.02);
    margin: 20px 0;
    transition: 0.2s ease;
}

#products .pro:hover {
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.06);

}

#products h2 {
    font-weight: 600;
}

#products p {
    font-size: 20px;
    color: #575757;
}

.pro img {
    width: 100%;
    border-radius: 10px;
}

#products .pro .des {
    text-align: start;
    padding: 10px;
}

#products .pro .des span {
    color: #3ab23a;
    font-size: 14px;
}


#products .pro .des h5 {
    margin: 4px 0;
    padding-top: 0;
    padding-bottom: 0;
    color: #1a1a1a;

}

#products .pro .des i {
    color: rgb(236, 236, 0);
}

#products .pro button {
    width: 50px;
    height: 50px;
    border-radius: 50px;
    background-color: #e2ece2;
    font-weight: 500;
    color: #1faf69;
    border: none;
    outline: none;
    position: absolute;
    right: 20px;
    bottom: 30px
}

#products .pro button i {
    line-height: 55px;
}

.pro-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

/* banner section */

#banner {
    height: 50vh;
    width: 100%;
    position: relative;
    padding: 0;
    display: flex;
    justify-content: center;
    margin: 40px 0 140px 0;
}

.banner-div {
    top: 15%;
    position: relative;
    text-align: center;
    padding: 120px;
    width: 60%;
    background-color: #f6f8f6;
    z-index: 222;
    box-shadow: 5px 5px 30px 5px rgb(0, 0, 0, 0.3);
    border-radius: 20px;
    background-image: url("images/banner.jpg");
    background-size: cover;
    background-position: center;
}



.banner-div h4 {
    color: white;
    font-size: 20px
}

.banner-div h2 {
    color: white;
    font-size: 35px;
    padding: 10px 0;
    font-weight: 600;
}

.banner-div h2 span {
    color: rgb(245, 72, 72);
}



#banner img {
    width: 20%;
    position: absolute;
}

#banner .leaf1 {
    bottom: 50px;
    left: 50px;
    transform: rotate(-20deg);
}

#banner .leaf {
    top: 200px;
    right: 60px;
    transform: rotate(-20deg);
}

/* small banners */

#banners {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

#banners .banner-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    min-width: 600px;
    height: 50vh;
    background-color: #f6f8f6;
    box-shadow: 5px 5px 30px 5px rgb(0, 0, 0, 0.06);
    background-size: cover;
    background-position: center;
    padding: 30px;
    color: white;
}

#banners .banner-box:hover button {
    background-color: #f8f9fa;
    color: #000000;
}

#banners .box1 {
    background-image: url("images/banner-2/cactus.jpg");
}

#banners .box2 {
    background-image: url("images/banner-2/app.png");
}


.banner-box h4 {
    font-size: 25px;
    font-weight: 300;
}

#banners p {
    font-size: 18px;
    padding-bottom: 15px;
}

/* banners 3 */
#banners3 {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-top: 0;
}

#banners3 .banner-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    min-width: 30%;
    height: 30vh;
    background-color: #f6f8f6;
    box-shadow: 5px 5px 30px 5px rgb(0, 0, 0, 0.06);
    background-size: cover;
    background-position: center;
    padding-left: 35px;
    border-radius: 10px;
}

#banners3 .boxa {
    background-image: url("images/banner-2/uv.jpg");
}


#banners3 .boxb {
    background-image: url("images/banner-2/uv2.png");
}

#banners3 .boxc {
    background-image: url("images/banner-2/uv3.jpg");
}

#banners3 h2 {
    color: white;
    font-size: 24px;
    font-weight: 600;
}

#banners3 h3 {
    color: white;
    font-size: 18px;
    font-weight: 500;
}

/* newsletter */

#newsletter {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    background-image: url("images/newsletter.jpg");
    background-position: center;
    background-size: cover;
    margin: 60px 0;
    height: 30vh;
}

#newsletter h4 {
    font-size: 27px;
    font-weight: 600;
}

#newsletter p {
    font-size: 22px;
}

#newsletter span {
    font-weight: 600;
    color: rgb(235, 154, 6);
}

#newsletter .input-group {
    width: 40%;
    display: flex;
}

#newsletter .input-group button {
    width: 100px;
}

/* footer */

footer {
    background-color: #000000;
    color: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

footer .col {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: flex-start;

}

footer .col img {
    width: 100px;
    margin-bottom: 30px;
}

footer h4 {
    font-size: 18px;
    padding-bottom: 20px;
}


footer p {
    font-size: 16px;
    margin: 0 0 8px 0;
    color: rgb(221, 221, 221);
}


footer .col a {
    font-size: 16px;
    text-decoration: none;
    color: rgb(221, 221, 221);
    margin-bottom: 10px;
}

footer .follow {
    margin-top: 20px;

}

footer .follow i {
    padding-right: 15px;
    cursor: pointer;
    color: rgb(221, 221, 221);
}

footer .app .row {
    display: flex;
    flex-wrap: wrap;
    padding-left: 15px;
}

footer .app .download i {
    padding-right: 15px;
}

footer .app .payment i {
    padding-right: 15px;
    padding-top: 10px;
    color: rgb(221, 221, 221);
}

footer strong {
    color: rgb(255, 255, 255);
}

footer .follow i:hover,
footer a:hover {
    color: #3b953b;
}

footer .copyright {
    width: 100%;
    text-align: center;
}


/* Shop page */
#page-header {
    background-image: url(images/cactus.png);
    height: 40vh;
    width: 100%;
    background-size: cover;
    background-position: 50%;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    padding: 14px;
}

#page-header h1 {
    font-size: 45px;
    font-weight: 600;
}

#page-header p {
    font-size: 25px;
}

#page-header h1,
#page-header p {
    color: #ffffff;

}

#pagination {
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

#pagination a {
    color: #41b541;
}

/* single product images */

#details {
    display: flex;
    margin-top: 20px;
}


#details .single-pro-details {
    width: 50%;
    padding-top: 30px;
}


#details .single-pro-details h4 {
    padding: 10px 0 10px 0;
    font-size: 35px;
}

#details .single-pro-details p {
    margin-bottom: 0;
}

#details .single-pro-details span {
    line-height: 25px;
}

#details .single-pro-details h2 {
    font-size: 26px;
}

#details .single-pro-details select {
    display: block;
    padding: 5px 10px;
    margin-bottom: 10px;
}


#details .single-pro-details input {
    width: 50px;
    height: 43px;
    padding-left: 10px;
    font-size: 16px;
    margin-right: 10;
}

#details .single-pro-details input:focus {
    outline: none;
}

#details .single-pro-details button {
    margin-left: 10px;
}

#details .single-pro-img {
    width: 40%;
    margin-right: 50px;
}

#details .small-img-group {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
}

.small-img-col {
    flex-basis: 24%;
    cursor: pointer;
}


/* blog page */
#page-header2 {
    background-color: #000000;
    height: 40vh;
    width: 100%;
    background-size: cover;
    background-position: 50%;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    padding: 14px;
}

#page-header2 h1 {
    font-size: 45px;
    font-weight: 600;
}

#page-header2 p {
    font-size: 25px;
}

#page-header2 h1,
#page-header2 p {
    color: #ffffff;

}

#blog-news .main-news {
    padding: 150px 130px 20px 130px;
    height: 50vh;
    background-image: url("images/blog-img/mainimg.jpg");
    background-position: 50%;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

}

#blog-news .main-img-buttons {
    padding-top: 20px;
    display: flex;
}

#blog-news .main-img-buttons button {
    margin-right: 10px;
    border-radius: 50px;
}

#other-n {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.other-news {
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 10px 10px 20px 10px;
    margin-top: 40px;
    width: 30%;
}

.other-news:hover,
.main-news:hover {
    cursor: pointer;
    box-shadow: 0px 10px 25px rgba(55, 55, 55, 0.06);
}

.other-news img {
    padding-bottom: 10px;
    width: 100%;
}

/* faq page */

#page-header3 {
    background-image: url("images/faqbackground.png");
    background-position: center;
    background-size: cover;
    height: 40vh;
    width: 100%;
    background-size: cover;
    background-position: 50%;
    display: flex;
    justify-content: center;
    text-align: left;
    flex-direction: column;
    padding: 14px 14px 14px 70px;
}

#page-header3 h1 {
    font-size: 45px;
    font-weight: 600;
}

#page-header3 p {
    font-size: 25px;
}

#page-header3 h1,
#page-header3 p {
    color: #ffffff;

}

#questions {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    background-color: #000000;
    padding: 10px 70px;
}

.question {
    width: 30%;
    padding: 20px 20px 20px 0;
    color: white;
}

#extra-questions {
    background-color: #000000;
    height: 27vh;
    padding: 30px 170px;
}

#extra-questions .eq {
    position: relative;
    background-color: #e9f2e9;
    display: flex;
    align-items: center;
    padding: 10px 40px;
    border-radius: 10px;
}

#extra-questions .eq img {
    width: 100px;
    height: 100px;
    border-radius: 100px;
    margin-right: 30px;
}

#extra-questions .eq button {
    position: absolute;
    right: 40px;
}

/* About */

#page-header.about {
    background-image: url("images/about/aboutheader.png");
    /* background-size: cover; */
    background-position: 50% 25%;
}

#about-head {
    display: flex;
}


#about-head div {
    padding-left: 50px;
}

#about-head img {
    width: 50%;
    height: 50%;
    border-radius: 15px;
}



#application {
    text-align: center;
}


#application .video{
    width: 70%;
    height: 100%;
    margin: 30px auto 0 auto;
}

#application video {
    width: 100%;
    height: 100%;
    border-radius: 20px;
}



/* media query */
@media (max-width: 570px) {
    .section-p1 {
        padding: 0;
    }

    #header {
        padding: 10px 20px;
    }

    #navbar {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        position: fixed;
        top: 0;
        right: -400px;
        width: 300px;
        background-color: #000000;
        box-shadow: 10px 10px 60px rgb(75, 75, 75);
        padding: 80px 0 0 10px;
        transition: 0.3s;
    }

    #navbar.active {
        right: 0px;
    }

    #navbar #shoppingbag {
        display: none;
    }

    #sign-in-mob {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        padding: 0 50px 55px 15px;


    }

    #sign-in-mob a {
        padding-right: 30px;
    }

    #hamburger {
        display: flex;
        align-items: center;
        /* z-index: 555; */
        color: #e2ece2;
    }

    #hamburger a {
        color: #E8F0EF;

    }

    #hamburger i {
        margin-left: 30px;
    }

    #sign-in {
        display: none;
    }

    #navbar li {
        margin-bottom: 25px;
    }

    #close {
        display: initial;
        position: absolute;
        top: 30px;
        left: 30px;
        color: white;
        font-size: 30px;
    }

    #magic {
        padding: 0 20px;
        height: 60vh;
        background-position: 65%;
    }

    #magic button {
        width: 100%;
    }

    #features {
        padding: 30px 0;
    }

    .featured-products {
        overflow-y: hidden;
        width: 100%;
        display: flex;
        overflow-x: scroll;
        flex-wrap: nowrap;
        flex-direction: row;
        align-items: flex-start;
        justify-content: space-between;
    }

    #features .feature-box {
        margin: 35px 50px;
    }

    .featured-products::-webkit-scrollbar {
        width: 0;
    }

    #banners .banner-box {
        min-width: 100%;
        height: 30vh;
    }

    .pro-container {
        justify-content: center;
    }

    #products {
        padding: 20px;
    }

    #products .pro {
        width: 100%;
        margin-top: 10px;
    }

    #banner {
        align-items: center;
    }

    .banner-div {
        width: 90%;
        padding-left: 10px;
        padding-right: 10px;
    }

    .banner-div h2 {
        font-size: 25px;
        padding: 10px 0;
        font-weight: 600;
    }


    #banner .leaf1 {
        left: -10px;
    }

    #banner .leaf {
        right: 0px;
        right: 14px;
    }


    #banners .banner-box {
        margin-bottom: 20px;
    }

    .banner-box button {
        margin-top: 0;
    }

    #banners .banner-box p {
        padding-bottom: 0;
    }

    #banners3 {
        justify-content: center;
    }

    #banners3 .banner-box {
        margin-top: 20px;
    }

    #newsletter {
        padding-left: 10px;
        padding-right: 10px;
    }

    #newsletter .input-group {
        width: 100%;
    }

    footer {
        padding-top: 20px !important;
    }

    footer .copyright {
        padding: 20px 10px;
    }

    /* single products */
    #details {
        padding: 30px 50px;
        flex-direction: column;
    }

    #details .single-pro-img {
        width: 100%;
        margin-right: 0px;
    }

    #details .single-pro-details {
        width: 100%;
    }

    #page-header2 h1 {
        font-size: 30px;
    }


    #blog-news .main-news {
        padding: 50px 40px 20px 40px;
    }

    #other-n {
        padding: 20px;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: space-between;
    }

    .other-news {
        width: 100%;
    }

    
    #about-head.section-p1{
        padding: 20px;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    #about-head img{
        width: 65%;
        height: auto;
        margin-bottom: 20px ;
    }
    #about-head div {
        padding-left: 0px;
    }

    #application{
        margin-bottom: 20px;
    }

    #application .video{
        width: 100%;
        padding: 20px;
    }

}




@media (min-width:570px) and (max-width: 900px) {

    #navbar {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        position: fixed;
        top: 0;
        right: -400px;
        width: 300px;
        background-color: #000000;
        box-shadow: 0 40px 60px rgb(113, 113, 113);
        padding: 80px 0 0 10px;
        transition: 0.3s;
    }

    #navbar.active {
        right: 0px;
    }

    #navbar #shoppingbag {
        display: none;
    }

    #sign-in-mob {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        padding: 0 50px 55px 15px;


    }

    #sign-in-mob a {
        padding-right: 30px;
    }

    #hamburger {
        display: flex;
        align-items: center;
        /* z-index: 555; */
        color: #e2ece2;
    }

    #hamburger a {
        color: #E8F0EF;

    }

    #hamburger i {
        margin-left: 30px;
    }

    #sign-in {
        display: none;
    }

    #navbar li {
        margin-bottom: 25px;
    }

    #close {
        display: initial;
        position: absolute;
        top: 30px;
        left: 30px;
        color: white;
        font-size: 30px;
    }

    #magic {
        height: 70vh;
        background-position: top 30% right 30%;
        padding: 0 50% 0 80px;
        color: rgb(243, 246, 249);
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
    }

    #magic button {
        width: 100%;
        font-size: 25px;
    }

    #magic h5 {
        font-size: 25px;
    }

    #magic p {
        font-size: 20px;
    }


    .featured-products {
        width: 100%;
        display: flex;
        overflow-x: scroll;
        flex-wrap: nowrap;
        flex-direction: row;
        align-items: flex-start;
        justify-content: space-between;
    }

    .featured-products::-webkit-scrollbar {
        width: 0;
    }

    #features .feature-box {
        margin: 35px 50px;
    }

    #banners .banner-box {
        min-width: 100%;
        height: 30vh;
        margin-bottom: 50px;
    }

    #banners3 {
        padding: 50px;
    }

    #banners3 .banner-box {
        width: 25%;
        padding-left: 10px;
    }

    #newsletter .input-group {
        width: 100%;
    }

    /* single product */
    #details {
        padding: 50px;
    }

    #details .single-pro-img {
        width: 50%;
    }

    #blog-news {
        padding: 40px 40px;
    }

    .other-news {
        width: 32%;
    }

    #about-head.section-p1{
        padding: 20px;
        align-items: center;
        justify-content: center;
        flex-direction: column-reverse;
    }

    #about-head div {
        padding-left: 0px;
        margin-bottom: 10px;
    }
    #about-head img{
        width: 65%;
        height: auto;
    }

    #application .video{
        width: 100%;
    }
}
