* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'League Spartan', sans-serif;
}

body {
    width: 100%;
    background-color: #F1F6F5;
}

/* logo */
.logo {
    width: 80px;
    height: auto;
}


/* header */
#header {
    z-index: 331;
    position: sticky;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 80px;
    background-color: #000000;
    box-shadow: 0 5px 15px rgba(223, 223, 223, 0.06);
}

#navbar {
    display: flex;
    align-items: center;
    justify-content: center;
}

#navbar li {
    list-style: none;
    padding: 15px 20px 0px 20px;
    position: relative;
}

#navbar li a:hover {
    color: #369636;
    transition: 0.3s ease;

}

#navbar li a.active {
    color: #369636;
}

#navbar li a.active::after,
#navbar li a:hover::after {
    content: "";
    width: 30%;
    height: 2px;
    background-color: #369636;
    position: absolute;
    left: 20px;
    bottom: -4px;
}


#sign-in a,
#navbar a {
    font-weight: 500;
    font-size: 22px;
    text-decoration: none;
    color: rgb(243, 246, 249);
}

#sign-in a:hover {
    color: #369636;
}

#sign-in a,
#sign-in button {
    padding: 6px 18px;
}

#sign-in button {
    font-size: 18px;
}

#sign-in button:hover {
    background-color: #41b941;
    border-color: transparent;
}

/* magic section */
#magic {
    background-image: url(images/background.png);
    height: 90vh;
    width: 100%;
    background-size: cover;
    background-position: top 40% right 0;
    padding: 0 50% 0 80px;
    color: rgb(243, 246, 249);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

#magic h2 {
    font-weight: 600;
}

#magic p {
    color: #369636;
}

#magic button {
    width: 30%;
    color: rgb(243, 246, 249);
    border-color: rgb(195, 196, 196);
}


/* features section */

#features {
    text-align: center;
}

#features h1 {
    font-weight: 600;
    color: #3c3c3c;
}

.featured-products {
    padding: 3%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

#features .feature-box {
    margin: 15px 0;
    position: relative;
    width: 22%;
    height: 300px;
    box-shadow: 20px 20px 34px rgb(0, 0, 0, 0.06);
    background-color: #E8F0EF;
    border: #000000 1px;
    border-radius: 15px;
    /* text-align: right; */
}

#features .feature-box:hover {
    box-shadow: 10px 10px 54px rgb(0, 0, 0, 0.1);
}

.feature-box a {
    z-index: 44;
    position: absolute;
    top: 4%;
    right: 12%;
    align-items: center;
    color: #2a6f2a;
    text-decoration: none;

}

.feature-box i {
    position: absolute;
    top: 4px;
    padding-left: 15%;
}


.feature-box img {
    position: absolute;
    left: 0px;
}

.feature-box .img1 {
    top: -60px;
    left: -100px;
}

.feature-box .img3 {
    top: -30px;
}

.feature-box .img4 {
    top: -70px;
    left: -20px;
}


/* section p1 classes */
.section-p1 {
    padding: 40px 130px;
}


/* products section */
#products {
    text-align: center;
}

#products .pro {
    position: relative;
    width: 23%;
    min-width: 250px;
    padding: 15px 12px 0 12px;
    border: 1px solid #bcc0bd;
    background-color: #fefefe;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.02);
    margin: 40px 0;
    transition: 0.2s ease;
}

#products .pro:hover {
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.06);

}

#products h2 {
    font-weight: 600;
}

#products p {
    font-size: 25px;
}

.pro img {
    width: 100%;
    border-radius: 10px;
}

#products .pro .des {
    text-align: start;
    padding: 10px;
}

#products .pro .des span {
    color: #3ab23a;
    font-size: 14px;
}


#products .pro .des h5 {
    margin: 4px 0;
    padding-top: 0;
    padding-bottom: 0;
    color: #1a1a1a;

}

#products .pro .des i {
    color: rgb(236, 236, 0);
}

#products .pro button {
    width: 50px;
    height: 50px;
    border-radius: 50px;
    background-color: #e2ece2;
    font-weight: 500;
    color: #1faf69;
    border: none;
    outline: none;
    position: absolute;
    right: 20px;
    bottom: 30px
}

#products .pro button i {
    line-height: 55px;
}

.pro-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

/* banner section */

#banner {
    height: 50vh;
    width: 100%;
    position: relative;
    padding: 0;
    display: flex;
    justify-content: center;
    margin: 40px 0 140px 0;
}

.banner-div {
    top: 15%;
    position: relative;
    text-align: center;
    padding: 120px;
    width: 60%;
    background-color: #f6f8f6;
    z-index: 222;
    box-shadow: 5px 5px 30px 5px rgb(0, 0, 0, 0.06);
    border-radius: 20px;
    background-image: url("images/banner.jpg");
    background-size: cover;
    background-position: center;
}



.banner-div h4 {
    color: white;
    font-size: 20px
}

.banner-div h2 {
    color: white;
    font-size: 35px;
    padding: 10px 0;
    font-weight: 600;
}

.banner-div h2 span {
    color: rgb(245, 72, 72);
}



#banner img {
    width: 20%;
    position: absolute;
}

#banner .leaf1 {
    bottom: 50px;
    left: 50px;
    transform: rotate(-20deg);
}

#banner .leaf {
    top: 200px;
    right: 60px;
    transform: rotate(-20deg);
}

/* small banners */

#banners {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

#banners .banner-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    min-width: 600px;
    height: 50vh;
    background-color: #f6f8f6;
    box-shadow: 5px 5px 30px 5px rgb(0, 0, 0, 0.06);
    background-size: cover;
    background-position: center;
    padding: 30px;
    color: white;
}

#banners .banner-box:hover button{
background-color: #f8f9fa;
color: #000000;
}

#banners .box1 {
    background-image: url("images/banner-2/cactus.jpg");
}

#banners .box2 {
    background-image: url("images/banner-2/app.png");
}


.banner-box h4 {
    font-size: 25px;
    font-weight: 300;
}

#banners p {
    font-size: 18px;
    padding-bottom: 15px;
}
